body{
    background-color: coral;
    color:white;
    text-align:center;
    padding-top: 200px;
  }
h1{
    background-color: aqua;
    backdrop-filter: blur(2rem);
}
div{
    background: linear-gradient(to right top,blue,darkblue);
    font-family: "JetBrains Mono";
}